html {
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(left, #f2f5f6 0%, #c8d7dc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f5f6), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f2f5f6 0%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f2f5f6 0%,#c8d7dc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f2f5f6 0%,#c8d7dc 100%); /* IE10+ */
	background: linear-gradient(to right, #f2f5f6 0%,#c8d7dc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */
}

.hide {display: none;}
.left {float: left;}
.right {float: right;}
.fix, .clear {clear: both;}
.pad { margin-bottom: 10px; margin-top: 10px; }
.top { margin-top: 0 !important; }
.bottom { margin-top: 0 !important; }

.username, .email {
	padding: 3px;
}

.username {
	font-size: 110%;
	font-weight: bold;
}

.user {
	width: 600px;
	padding: 10px;
}

.email {

}


html, body {
	font-family: 'Verdana';
	font-size: 90%;
	color: #2b617a;
}

h1,h2,h3,h4,h5,h6 {
	color: #3362bb;
}

h1 {
	border-bottom: 4px solid #3362bb;
	padding-bottom: 2px;
	margin-bottom: 40px;
}

h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	text-decoration: underline;
}

table {
	width: 500px;
	border-collapse: collapse;
	margin-top: 30px;
}

th {
	text-align: left;
	color: #0958aa;
	font-size: 130%;
}

tr:first-child {
	border-bottom: 1px solid #0958aa;
}

tr {
	border-bottom: 1px solid #0958aa;
}

td {
	padding: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
}

td:first-child {
	width: 100px;
	font-weight: bold;
}

table textarea {
	width: 99%;
	height: 200px;
}

.box {
	width: 600px;
	padding: 10px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.successBox {
	background: #a9db80; /* Old browsers */
	background: -moz-linear-gradient(left, #a9db80 0%, #659947 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a9db80), color-stop(100%,#659947)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #a9db80 0%,#659947 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #a9db80 0%,#659947 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #a9db80 0%,#659947 100%); /* IE10+ */
	background: linear-gradient(to right, #a9db80 0%,#659947 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#659947',GradientType=1 ); /* IE6-9 */

	border: 1px solid #3b6834;

}

.errorBox {
	background: #efab94; /* Old browsers */
	background: -moz-linear-gradient(left, #efab94 0%, #ef6a3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#efab94), color-stop(100%,#ef6a3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #efab94 0%,#ef6a3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #efab94 0%,#ef6a3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #efab94 0%,#ef6a3e 100%); /* IE10+ */
	background: linear-gradient(to right, #efab94 0%,#ef6a3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efab94', endColorstr='#ef6a3e',GradientType=1 ); /* IE6-9 */

	border: 1px solid #ad3118;
}

.small {
	font-size: 90%;
}

.smallInput {
	font-size: 9pt !important;
}

.wrapperLeft {
	width: 600px;
}

.taskPreview {
	width: 850px;
}

.taskPreview td:first-child {
	font-weight: normal;
	width: 75px !important;
}

.taskPreview tr td:nth-child(3) {
	width: 106px;
}

.taskPreview tr td:nth-child(4) {
	width: 260px;
}

.taskPreview textarea {
	height: 70px;
}

.taskPreview td {
	vertical-align: top;
}

.numberHour {
	width: 30px;
}

.numberMinute {
	width: 35px;
}


